body {
  text-align: center;
}

.radio-container {
  margin: auto;
  width: 50%;
}

.check {
  margin-bottom: 10px;
}

svg {
  margin: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
}
